.button {
	background-color: #628de8;
	margin-left: 5px;
}

.button:hover {
	border-color: red;
}

button:focus,
button:focus-visible {
	color: white;
	outline: 4px auto -webkit-focus-ring-color;
}

.label {
	color: #bffdbf;
}

.errorLabel {
	white-space: pre-line;
	color: red;
}
