.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5px solid gray;
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 1s infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.header {
	width: 100%;
	height: 50px;
	background-color: #4c0865;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.87);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header h1 {
	font-size: 2.5em;
	font-weight: 400;
	margin: 0;
	color: #b7b7b7;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	align-items: center;
	padding: 50px 10px 10px;
}

.centerTable {
	margin-top: 20px;
	border-collapse: collapse;
	width: 100%;
}

.centerTable th {
	color: #b7b7b7;
	background-color: #4c0865;
}

.centerTable th, .centerTable td {
	border: 1px dotted #ca2ffd;
	padding: 10px;
}

.vertical {
	color: #ca2ffd;
}

.uncompleted {
	color: #d54130;
}

.completed {
	color: #3eb748;
}
