.formContainer {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-bottom: 10px;
}

.inputField {
	flex: 1;
	margin-bottom: 5px;
	padding: 10px;
}

.submitButton {
	margin-top: 5px;
}
