.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.deleteModal {
	background-color: #1a1a1a;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	text-align: center;
}

.deleteModal__question {
	margin-bottom: 20px;
	color: #b7b7b7;
}

.ModalButtons {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.SubmitButton {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
	width: 100%;
	margin-bottom: 10px;
}

.cancelButton {
	background-color: #4c0865;
	color: rgba(227, 226, 226, 0.87);
}

.confirmButton {
	background-color: #d54130;
	color: rgba(227, 226, 226, 0.87);
}

.SubmitButton:focus,
.SubmitButton:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
