.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	height: 40px;
	position: fixed;
	top: 0;
	color: #b1b2ac;
	padding: 10px 20px;
	background-color: #282c34;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
	z-index: 10;
	align-items: center;
}

ul {
	display: flex;
	margin: 0 auto;
	padding: 0;
}

.li-item {
	list-style: none;
	margin-right: 20px;
	text-shadow: 2px 2px 5px rgba(38, 36, 36, 0.7);
}

.white {
	color: white;
}

.blue {
	color: #8ed7ed;
}

.active {
	color: green;
}

.li-item-page {
	width: 100%;
	list-style: none;
	margin: 20px;
	text-shadow: 2px 2px 5px rgba(38, 36, 36, 0.7);
}

.block {
	display: flex;
	max-width: 1000px;
	align-items: center;
}

.li-item:last-child {
	margin-right: 0;
}

.btn-link {
	padding: 5px 10px;
}

.username {
	margin: 8px;
	color: #747bff;
}

.books-title {
	padding: 6px 0;
}

.books-loading {
	font-size: 24px;
	color: green;
}

.books-error {
	margin-top: 24px;
	color: red;
}

.books-list {
	margin-top: 88px;
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 20px;
	box-sizing: border-box;
	white-space: normal;
	word-break: break-word;
	max-width: 1000px;
	width: 100%;
	text-shadow: 2px 2px 5px rgba(38, 36, 36, 0.7);
}

.books-loading {
	font-size: 12px;
	font-weight: bold;
	text-shadow: 2px 2px 5px rgba(38, 36, 36, 0.7);
}

.top-controls {
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #242424;
}

.top-controls input {
	margin-bottom: 12px;
}

.top-controls h1 {
	margin-bottom: 12px;
}
